<div class="boxLogin back">
	<header>
		<h1>Registrarse</h1>
		<a class="fright" (click)="flipBack(false)">No quiero, gracias!</a>
	</header>
	<p class="boxLoading" *ngIf="loading"><i amcLoading [icon] = "'fa fa-heart'" [animation]="'heartbeat'" [size]="'22'" [color]="'#e0ddc2'" aria-hidden="true"></i>...</p>
	<p *ngIf="show" class="text-danger clearfix"><i [ngClass]="(itsOk) ? 'fa fa-check' : 'fa fa-times'" aria-hidden="true"></i> {{messages}}</p>	
	<form (ngSubmit)="onRegister(regForm)" #regForm="ngForm">
		<div class="form-group">
			<label for="email">Usuario</label>
			<input type="text" name="email" id="email" class="form-control" ngModel placeholder="Correo" required email>
		</div>
		<div class="form-group">
			<label for="password">Contraseña</label>
			<input type="password" id="password" name="password" ngModel class="form-control" placeholder="Contraseña" required>
		</div>
		<div class="clearfix formActions">
			<button class="fright btns btnRegresar">REGISTRARSE</button>
		</div>
	</form>
</div><!-- fin boxLogin-->