<div class="contFlip">
	<div class="boxContFormsLogin" [ngClass]="{'boxContFormsLogin':true, 'flip-vertical-left': isVisible, 'flip-vertical-right': isVisibleBack}">
	<div class="boxLogin">
		<header>
			<h1>Ingreso</h1>
			<a href="#" class="fright" (click)="flip()">Crear cuenta</a>
		</header>
		<p *ngIf="show" class="text-danger clearfix"><i [ngClass]="(itsOk) ? 'fa fa-check' : 'fa fa-times'" aria-hidden="true"></i> {{messages}}</p>
		<form (ngSubmit)="onLogIn(loginform)" #loginform="ngForm">
			<div class="form-group">
				<label for="email">Usuario</label>
				<input type="text" name="email" id="email" class="form-control" ngModel placeholder="Correo" required email>
			</div>
			<div class="form-group">
				<label for="password">Contraseña</label>
				<input type="password" id="password" name="password" ngModel class="form-control" placeholder="Contraseña" required>
			</div>
			<div class="clearfix formActions">
				<div class="loginCheckbox fleft">
					<input class="fleft" type="checkbox" name="">
					<label>Recordar datos</label>
				</div>
				<button class="fright btns btnRegresar">INGRESAR</button>
			</div>
		</form>


	</div><!-- fin boxLogin-->

	<amc-registro (onSuccessUserCreation)="onSuccessUserCreationMsg($event)" (activateFlipBack)="activateFlipBack($event)"></amc-registro>
	</div><!-- fin boxContFormLogin -->
</div>