<form id="todosForm" (ngSubmit) = "onEditTodo(todoFormEdit)" #todoFormEdit = "ngForm">
	<div class="form-group col-md-8 col-sm-8 noPaddingLeft">
		<label for="title">Titulo</label>
		<input type="text" name="title" id="title" [ngModel]="title" class="form-control" placeholder="Título" required>
		<span>Error</span>
	</div>
	<div class="form-group col-md-4 col-sm-4 noPaddingRight">
		<my-date-picker [options]="myDatePickerOptions" [(selDate)]="selDate" (dateChanged)="onDateChanged($event)"></my-date-picker>
		<span>Error</span>
	</div>
	
	<div class="form-group">
		<label for="description">Descripción</label>
		<textarea id="description" name="description" [ngModel] ="description" class="form-control" placeholder="Descripción" required></textarea>
		<span>error</span>
	</div>
	<div class="clearfix formActions">
		<button class="fright btn btnRegresar">Actualizar</button>
	</div>
</form>