
<form id="todosForm" (ngSubmit)="onMarketListSumit(marketListoForm)" #marketListForm = "ngForm">
	<div class="form-group col-md-8 col-sm-8 noPaddingLeft">
		<label for="title">Titulo</label>
		<input type="text" name="title" id="title" ngModel class="form-control" placeholder="Título" required>
		<span>Error</span>
	</div>
	<div class="form-group col-md-4 col-sm-4 noPaddingRight">
		<input type="number" name="cuantity" ngModel class="form-control" placeholder="Cantidad">
		<span>Error</span>
	</div>
	<div class="clearfix formActions">
		<button class="fright btn btnRegresar">Agregar</button>
	</div>
</form>