<amc-header></amc-header>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="boxTodoCont">
						<div class="boxBtnTodos clearfix">
							<a routerLink="/todo" routerLinkActive="activo">Por hacer</a>
							<a routerLink="/marketlist" routerLinkActive="activo">Mercado</a>
						</div>
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<amc-footer></amc-footer>