<div class="todoCard" [ngClass] ="{'itsDone' : todo.done}">

		<h1>{{todo.title}}</h1>
		<p>{{todo.description}}</p>
		<span *ngIf="todo.endDate" class="todoDate">Antes de: {{todo.endDate.day}} de {{todo.endDate.month | date : 'MMMM'}} {{todo.endDate.year}}</span>
		<div class="clearfix">
			<a href="" (click)="onUpdateDone(todo)">{{textBtn}}</a>
			<a href="" class="fright" (click) ="onDeleteTodo(todo)">Borrar</a>
			<span class="fright"></span>
			<a (click)="onClickEdit(todo.key)" class="fright">Editar</a>
		</div>
</div>	
