html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
body{background:#e0ddc2;font-family: 'Source Sans Pro', sans-serif;line-height: 1;}
a, a:hover, a:visited{text-decoration:none;}
.bgHeader{height: 250px;}
.bgLogin{background: url(img/bgLogin.jpg) top left repeat;}
.bgTodo{background: url(img/bgTodo.jpg) top left repeat;}
.bgMarket{background: url(img/bgMarket.jpg) top left repeat;}
.boxLoading{margin-bottom: 20px;}
/**********************************************************
Helper classes
**********************************************************/
.formActions {padding-top:15px;}
.btns{padding:13px 29px;font-weight: 900;font-size: 1.2em;display: inline-block;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.fright{float:right;}
.fleft{float: left;}
.contFlip{-webkit-perspective: 900px;perspective: 900px;}
.noPaddingLeft{padding-left: 0px;}
.noPaddingRight{padding-right: 0px;}
/**********************************************************
Login box
**********************************************************/
.boxLogin{background-color:#ee9c67;padding: 42px 72px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);margin-top:-130px;position:absolute;width: 100%;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.boxLogin a{color:#e0ddc2;}
.boxLogin header{margin-bottom:30px;}
.boxLogin header a{margin-top:-19px;cursor:pointer;}
.boxLogin header a:hover{color:#915d3b;}
.boxLogin header h1{font-size: 2em;font-weight:900;text-transform: uppercase;color:#e0ddc2;}
.boxLogin label, #todosForm label{color:#e0ddc2;display:none;}
.boxLogin .loginCheckbox{padding-top: 10px;}
.boxLogin .loginCheckbox label{display: inline-block;font-weight: 300}
.boxLogin .loginCheckbox input{margin-top: 0;margin-right: 5px;}
.boxLogin input, #todosForm input, #todosForm textarea{color:#915d3b;font-size:1.1em; background: none;border:none;border-bottom:solid 1px #e0ddc2;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;padding:0px;}
.boxLogin input:focus, #todosForm input:focus{-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;border-color:#915d3b;}
.boxLogin .form-group span{font-size: .7em;color:#853604;display: block;padding:6px 0 0 0 ;}
.boxLogin button.btnRegresar{background: #e0ddc2;color:#ee9c67;border:none;}
.boxLogin input.ng-invalid.ng-touched{border-bottom: solid 1px red}
.back{-webkit-transform: rotateY(180deg);transform: rotateY(180deg);z-index:10;}
.boxContFormsLogin{-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transform: translateZ(0);transform: translateZ(0);/*-webkit-backface-visibility: hidden;backface-visibility: hidden;*/}
/**********************************************************
Login box placeholder
**********************************************************/
.boxLogin input::-webkit-input-placeholder {color:    #bf8661;font-size: .8em;}
.boxLogin input:-moz-placeholder {color:    #bf8661;opacity:  1;font-size: .8em;}
.boxLogin input::-moz-placeholder {color:    #bf8661;opacity:  1;font-size: .8em;}
.boxLogin input:-ms-input-placeholder {color:    #bf8661;font-size: .8em;}

#todosForm input::-webkit-input-placeholder {color:    #71926c;font-size: .8em;}
#todosForm input:-moz-placeholder {color:    #71926c;opacity:  1;font-size: .8em;}
#todosForm input::-moz-placeholder {color:    #71926c;opacity:  1;font-size: .8em;}
#todosForm input:-ms-input-placeholder {color:    #71926c;font-size: .8em;}
#todosForm textarea::-webkit-input-placeholder {color:    #71926c;font-size: .8em;}
#todosForm textarea:-moz-placeholder {color:    #71926c;opacity:  1;font-size: .8em;}
#todosForm textarea::-moz-placeholder {color:    #71926c;opacity:  1;font-size: .8em;}
#todosForm textarea:-ms-input-placeholder {color:    #71926c;font-size: .8em;}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s;}

/**********************************************************
Login animation
**********************************************************/
 .flip-vertical-right  {
	-webkit-animation: boxContFormsLogin 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	-moz-animation: boxContFormsLogin 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: boxContFormsLogin 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.flip-vertical-left {
	-webkit-animation: flip-vertical-left 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both ;
	-moz-animation: flip-vertical-left 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both ;
	animation: flip-vertical-left 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both ;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	-moz-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}


@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

@-webkit-keyframes boxContFormsLogin{
	0%{-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg)}
	100%{-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg)}
}
@keyframes boxContFormsLogin{
	0%{-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg)}
	100%{-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg)}
}

@-webkit-keyframes flip-vertical-left{
	0%{-webkit-transform:rotateY(0);transform:rotateY(0)}
	100%{-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg)}
}

@keyframes flip-vertical-left{
	0%{-webkit-transform:rotateY(0);transform:rotateY(0)}
	100%{-webkit-transform:rotateY(-180deg);
		transform:rotateY(-180deg)}
}

.text-danger{padding:10px;font-size: .8em;background-color:#e0ddc2;color:#ee9c67;margin-bottom: 20px;line-height: 14px;position: relative;}
.text-danger i{margin-right: 4px;position:absolute;z-index: 2;width:20px;height:20px;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;background-color:#e0ddc2;-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.46);-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.46);box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.46);display: block;text-align:center;line-height:20px;top:-10px;left:-10px;}
/**********************************************************
Todos
**********************************************************/
.boxTodoCont{-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;border-top-left-radius: 10px;border-top-right-radius: 10px;margin-top:-130px;position: relative;z-index: 10;}
.boxBtnTodos{border-bottom:solid 1px #e0ddc2;-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.boxBtnTodos a{display: block;float:left;width:50%;text-align:center;padding:12px;font-weight: 700;font-size: 1.2em;text-transform:uppercase;color:#e0ddc2;background-color:#4e3423;}
.boxBtnTodos a.activo{background-color:#a4d29e;color:#4e3423;}
.boxBtnTodos a:first-child{-webkit-border-top-left-radius: 10px;-moz-border-radius-topleft: 10px;border-top-left-radius: 10px;}
.boxBtnTodos a:last-child{-webkit-border-top-right-radius: 10px;-moz-border-radius-topright: 10px;border-top-right-radius: 10px;}
#todosForm{background-color:#a4d29e;padding:10px 22px;}
#todosForm input, #todosForm textarea {border-bottom-color:#71926c !important;color:#486244 !important;}
#todosForm .mydp input{border-bottom: solid 1px #71926c !important;color:#486244 !important;}

.boxTodosCont{background-color:#4e3423;padding-top:1px;}
.todoCard{background-color:#e6e6e6;padding:38px 23px 0;margin-bottom: 1px;position: relative;}
.todoCard div{border-top:solid 1px #bcbcbc;padding:15px 0;margin-top: 28px;}
.todoCard div span{color:#ff7665;line-height: 11px;display: inline-block;margin:0 5px 0 6px;border-left:solid 1px #ff7665;height:13px;}
.todoCard div a{color:#ff7665;font-weight:700;font-size: .8em;}
.todoCard div a:hover{color:#b24e42;}
.todoCard h1{font-weight: 700;text-transform:uppercase;color:#4e3423;margin-bottom:14px;font-size:1.3em;}
.todoCard p{line-height:21px;color:#4e3423;margin-bottom: 20px;}
.todoCard.itsDone h1, .todoCard.itsDone p{text-decoration: line-through;}
.todoCard.itsDone i{position: absolute;z-index: 10;font-size: 6em;top:50%;left:50%;margin: -48px 0 0 -41px;}
.todoDate{display:block;font-weight:700;color:#4e3423;font-size:.8em;margin-bottom: -20px;}

.mydp{border:none !important;}
.mydp .btnleftborder{border-left:none !important;}
.mydp .selectiongroup, .mydp .btnclear, .mydp .btnpicker, .mydp .headertodaybtn{background:transparent !important;}
 /* Small Devices, Tablets */
}
@media only screen and (max-width : 768px) {
	.noPaddingLeft{padding-left: 0px;padding-right: 0px;}
	.noPaddingRight{padding-right: 0px;padding-left:0px;}
}

